body{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.maintext {

    font-size: 29px;
    font-weight: bold;

    text-align: center;


}

.container {
    margin-top: 100px;
    margin-left: 44px;
    margin-right: 44px;
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;

}

.container li {
    display: flex;
    border-style: groove;

    box-shadow: 1px 2px 9px black;
    margin-top: 45px;


}

.info {
    margin-left: 45px;
    margin-top: 11px;
    letter-spacing: 0.2mm;
    font-size: 17px;

}



.search {
    position: absolute;
    top: 88px;
    margin-top: 23px;

    font-size: 23px;
    right: 40px;
    font-size: 18px;
    background-color: #000080;
}

.searchbutton {
    background-color: #000080;
    color: white;
    font-weight: 900;
    font-size: 14px;
    border-radius: 5px;
}

.inputbutton {
    
    height: 26px;
    border-radius: 3px;
}

.search:hover {

    box-shadow: 2px 2px 8px black;
}