body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ccccff;
}




.maintext {

    font-size: 35px;
    font-weight: bold;
    word-spacing: 9px;
    text-align: center;
    background: rgb(255, 80, 109);
    color: white;
    
    margin: 10px 20px 20px 20px;
}

.container {
    margin-top: 100px;
    margin-left: 44px;
    margin-right: 44px;
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
}

.container li {
    display: flex;
    background-color: antiquewhite;
    margin-top: 45px;


}

.info {
    margin-left: 45px;
    margin-top: 11px;


}

img {
    border: 3px solid rgb(61, 19, 27);

}





.search {
    position: absolute;
    top: 88px;
    margin-top: 23px;

    font-size: 23px;
    right: 40px;
    font-size: 18px;
}

.searchbutton {
    background: rgb(253, 90, 141);
    color: rgb(250, 247, 247);
}

.inputbutton {
    border: 2px solid rgb(246, 25, 22);
}