body {
  /* background-image: url("images/backimage.jpg"); */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;

}

/* Default styles */
/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px;
}

.menu-toggle {
  display: none;
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 10px;
}

.menu a {
  text-decoration: none;
  color: red;
}

#site-name {
  color: red;
  font-weight: bold;
}

/* Media query for small screens */
/* @media only screen and (max-width: 600px) {

  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    background-color: #717171;
    color: white;
  } */
/* .menu li a{
   color: white;
  }
  .menu-toggle {
    display: block;
  }

  .menu-toggle a {
    color: rgb(212, 207, 207);
    text-decoration: none;
    cursor: pointer;
    /* background-color: #717171; */

/* } */

/* .menu-toggle.active+.menu { */
/* display: flex; */
/* } */
/* } */

.maintext {
  text-align: center;
  padding: 4px;
  font-size: 45px;
  margin: 0%;
  width: auto;
  color: red;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: black;
}

nav {
  background-color: #151313;
  border-radius: 4px;
  font-size: 21px;
  height: 55px;
  position: sticky;
  top: 0%;
}

nav li {
  float: left;
  list-style: none;
  padding: 7px;
  margin-right: 23px;
}

nav ul {
  overflow: auto;
  text-align: center;
}

nav li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

nav li a:hover {
  color: red;
  font-weight: bold;
  /* padding: 5px;
    border-radius: 6px; */

}


nav a.active {
  background-color: #04aa6d;
  color: white;
}

#dot {
  height: 47px;
  width: 47px;
  background-color: #fdfdfd;
  border-radius: 50%;
  display: inline-block;
}

.headline {
  /* margin-top: -0.3%; */
  margin-top: -0.17%;
  font-size: 31px;
  font-weight: 700;
  text-align: center;
  background-color: rgb(20, 17, 17);
  color: red;
  height: 61px;

}


.list1 p {
  font-size: 16px;


  margin-left: 4px;
  padding-left: 0;


  font-weight: 700;
  list-style: none;

}

.list1 p a {
  text-decoration: none;

}


.sidebar {
  width: 125%;
  margin-left: 0.5%;

}


table,
th,
tr td {
  border: 2px solid rgb(20, 10, 10);

  padding: 7px;
}



table td {
  text-align: center;
  padding: 17px;
  width: 234px;
  font-weight: bold;
}


table.scrolldown {


  /* border-collapse: collapse; */
  border-spacing: 0;
  border: 2px solid black;
}

/* To display the block as level element */
table.scrolldown tbody,
table.scrolldown thead {
  display: block;
}

thead tr th {
  height: 40px;
  line-height: 40px;
}

table.scrolldown tbody {

  /* Set the height of table body */
  height: 350px;

  /* Set vertical scroll */
  overflow-y: auto;

  /* Hide the horizontal scroll */
  overflow-x: hidden;

  right: 0%;
}

tbody {
  border-top: 2px solid black;
}



td {
  text-align: center;
}


.outercontainer {
  flex: 1;
}







.notice p {
  background-color: rgb(240, 3, 141);
  font-size: 25px;
  padding: 7px;
  text-align: center;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  margin-top: 0%;
}

.innercontainer img {

  flex-direction: row;
  margin-left: 23px;

  width: 157px;
  height: auto;
}


.infomation p {
  margin-right: 0px;
}


.postinfo {
  margin-top: 11%;
  text-align: start;
  font-weight: 650;
  font-size: 16px;
}



.graminfo {
  display: flex;
  display: flex;
  margin-left: 1%;
  margin-top: 1%;
  align-self: center;
}


.village {

  width: 60%;

}


.tableinfo {
  margin-left: 1.5%;
  margin-right: 1%;
}



.maincontainer {
  display: flex;
}


.list li {

  list-style: number;
  font-weight: 600;
  font-size: 17px;

}




.container {

  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  column-gap: 15px;
  row-gap: 11px;
  margin: 1%
}

.grid-item {


  color: black;
  overflow: hidden;
  padding: 3px;
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
}

.grid-item a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;

}

.grid-item a:hover {

  font-weight: 700;
  color: red;
}












.foot {
  /* margin-left: 156px; */
  display: flex;
  height: 222px;
  letter-spacing: 1px;
}

.address {
  /* margin-left: 223px; */
  font-size: 15px;
  color: white;
  margin-top: 12px;
  font-weight: 500;
}

.service {
  margin-top: 12px;
  /* margin-left: 203px; */
  font-size: 15px;
  color: white;
  /* font-weight: bol; */
  font-weight: 500;
}

.service li {
  list-style: none;
  color: white;
  /* margin-left: 23px; */
}

.service li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  color: white;
  /* margin-left: 23px; */
}

.useful {
  margin-top: 12px;

  font-size: 15px;
  color: white;
  font-weight: 500;
}

.useful li {
  list-style: none;
  color: white;
}

.useful li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  color: white;
}

.useful li a:hover {
  color: red;
  text-decoration: underline;
}

.service li a:hover {
  color: red;
  text-decoration: underline;
}


* {
  box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  /* cursor: pointer; */


  /* background-color: #bbb; */
  /* border-radius: 50%; */
  /* display: inline-block; */
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 4.6s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.foot-list {
  margin-top: 1%;
}

.foot-list li {
  display: inline;
  margin: 0%;

}

.foot-list li img {
  width: 9%;
  height: 3%;
  text-align: center;
  border: 1px solid black;
  margin-bottom: -1%;

<<<<<<< HEAD
=======
}




/* Styles for screens up to 600px wide */
@media (max-width: 600px) {


  html body {
    width: auto;
  }

  .maintext a {

    font-size: 29px;
    margin-top: 4%;
    display: flex;
    text-align: center;
    margin-left: 12%;
    color: rgb(174, 40, 174);
    text-decoration: none;
    font-weight: 600;
  }

  nav {
    /* display: none; */
  }



  .headline {
    height: auto;
    font-size: 14px;
    padding: 3.6%;
  }


  .maincontainer {
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    width: 80%;
    height: auto;
    /* background-color: rgb(255, 255, 255); */
    /* border: 1px solid black; */
  }

.outercontainer img{

 width: 12%;


}













}

/* Styles for screens between 601px and 900px wide */
@media (min-width: 601px) and (max-width: 900px) {
  /* CSS rules for medium-sized screens */
}

/* Styles for screens above 900px wide */
@media (min-width: 901px) {
  /* CSS rules for larger screens */
>>>>>>> ac660f27797c1b99bdb3cfcca0111f3cf40ceb9d
}