body {
  /* background-image: url("images/backimage.jpg"); */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

}

.maintext {
  text-align: center;
  /* padding: 4px; */
  font-size: 45px;
  margin: 0%;
  width: auto;
  color: red;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: black;
}

nav {
  background-color: #151313;
  border-radius: 4px;
  font-size: 21px;
  height: 55px;
  position: sticky;
  top: 0%;
}

nav li {
  float: left;
  list-style: none;
  padding: 7px;
  margin-right: 23px;
}

nav ul {
  overflow: auto;
  text-align: center;
}

nav li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

nav li a:hover {
  color: red;
  font-weight: bold;
  /* padding: 5px;
    border-radius: 6px; */

}

.slider {
  display: flex;
  margin-top: 18px;
  position: relative;
  -webkit-transition: left 1s;
  -moz-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
}

.slider img {
  width: 200px;
  height: auto;
}

nav a.active {
  background-color: #04aa6d;
  color: white;
}

#dot {
  height: 47px;
  width: 47px;
  background-color: #fdfdfd;
  border-radius: 50%;
  display: inline-block;
}

.headline {
  font-size: 31px;
  font-weight: 700;
  text-align: center;
  background-color: black;
  color: red;
  height: 61px;

}




.sidebar {
  width: 125%;
  margin-left: 1%;
  height: auto;
}












table,
th,
tr td {
  border: 2px solid rgb(20, 10, 10);

  padding: 7px;
}



table td {
  text-align: center;
  padding: 17px;
  width: 234px;
  font-weight: bold;
}


table.scrolldown {


  /* border-collapse: collapse; */
  border-spacing: 0;
  border: 2px solid black;
}

/* To display the block as level element */
table.scrolldown tbody,
table.scrolldown thead {
  display: block;
}

thead tr th {
  height: 40px;
  line-height: 40px;
}

table.scrolldown tbody {

  /* Set the height of table body */
  height: 350px;

  /* Set vertical scroll */
  overflow-y: auto;

  /* Hide the horizontal scroll */
  overflow-x: hidden;

  right: 0%;
}

tbody {
  border-top: 2px solid black;
}



td {
  text-align: center;
}


.outercontainer {
  flex: 1;
}









.innercontainer img {
  border: 2px solid red;
  flex-direction: row;
  margin-left: 23px;

  width: 157px;
  height: auto;
}


.infomation p {
  margin-right: 0px;
}


.postinfo {
  margin-top: 11%;
  text-align: start;
  font-weight: 650;
  font-size: 16px;
}



.graminfo {
  display: flex;
  display: flex;
  margin-left: 1%;
  margin-top: 1%;
  align-self: center;
}


.village {

  width: 58%;
  margin-left: 0.5%;
}


.tableinfo {
  margin-left: 10.5%;
  margin-right: 1%;
}



.maincontainer {
  display: flex;
}


.list li {

list-style: number;
font-weight: 600;
font-size: 17px;

}




.container {

  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 15px;
  row-gap: 11px;
  margin: 1% 

}

.grid-item {


  color: black;
  padding: 5px;
  font-size: 17px;
  border-radius: 9px;
  border: 2px solid black;
  text-align: center;
}

.grid-item a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
 
}

.grid-item a:hover {
  
  font-weight: 700;
color: red;
}












.foot {
  /* margin-left: 156px; */
  display: flex;
  height: 222px;
  letter-spacing: 1px;
}

.address {
  /* margin-left: 223px; */
  font-size: 15px;
  color: white;
  margin-top: 12px;
  font-weight: 500;
}

.service {
  margin-top: 12px;
  /* margin-left: 203px; */
  font-size: 15px;
  color: white;
  /* font-weight: bol; */
  font-weight: 500;
}

.service li {
  list-style: none;
  color: white;
  /* margin-left: 23px; */
}

.service li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  color: white;
  /* margin-left: 23px; */
}

.useful {
  margin-top: 12px;

  font-size: 15px;
  color: white;
  font-weight: 500;
}

.useful li {
  list-style: none;
  color: white;
}

.useful li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  color: white;
}

.useful li a:hover {
  color: red;
  text-decoration: underline;
}

.service li a:hover {
  color: red;
  text-decoration: underline;
}