.navbar {
    background-color: #000080;
    border-radius: 4px;
    font-size: 19px;
    height: 60px;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 9px 12px 12px 12px;
    text-align: center;
    justify-content: space-around;
}

.navbar ul {
    overflow: auto;
    text-align: center;
}

.navbar li a {
    text-decoration: none;
    color: white;
}

.navbar li a:hover {
    text-decoration: dotted;
    background-color: white;
    color: black;
    padding: 4px;
    border-radius: 6px;
}

.slider {
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin-top: 18px;
    justify-content: space-around;
    position: relative;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
}

.slider img {
    width: 255px;
    height: auto;
 margin-left: 9px;
 margin-right: 9px;
}

.maintext {
    font-size: 45px;
    
    
    font-weight: bold;
    text-shadow: 24px;
    font-family: ;
}

.bodysection {
    display: flex;
  
    justify-content: space-between;

}

.aboutsection {
    width: 60%;
    font-size: 19px;



}

.noticesection {
    font-size: 16px;
    width: 40%;

    margin-right: 23px;



}
.aboutbody {
    margin-left: 23px;
}
.noticetext {
    padding: 5px;
    background-color: #000080;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    margin-top: 18px;
}

.abouttext {
    padding: 5px;
    background-color: #000080;
    color: white;
    text-align: center;
    margin-top: 18px;
    font-size: 21px;
    font-weight: bold;
}

.noticebody {
    font-size: 19px;
}

.ulist {
    background: red;
}
.noticebody li {
    margin-left: 45px;
    /* background: rebeccapurple; */
    padding: 5px;
    list-style: decimal;
    
    
}

.googlemaps {

    margin-left: 45px;
    margin-top: 25px;
    box-shadow: 34px;

}

.googlemaps img {
    width: 230px;
    height: auto;

}

.googlemaps p {
    font-size: 19px;
    font-family: cursive;
    margin-left: 23px;
    margin-top: 11px;
}

.search {
    position: absolute;
   
    margin-top: 23px;
   margin-bottom: 23px;
    right: 40px;
    font-size: 22px;
}

.searchbutton {
    background: rgb(66, 128, 0);
    color: white;
    cursor: pointer;
   
}

.inputbutton {
   
    border: 2px solid navy;
}