body {
    /* background-color: #ccccff; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.maintext {
    margin-top: 23px;
    margin-left: 35%;
    text-align: center;
    margin-right: 35%;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background: rgb(255, 80, 109); */
    /* border: 2px solid black; */
    border-radius: 18px;
    
    /* color: white; */

    letter-spacing: 4px;
}



.container {

    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    row-gap: 36px;
    margin: 99px 34px 0px 34px;
    
}

.grid-item {

 
    color: black
    ;
    padding: 10px;
    font-size: 21px;
    border-radius: 9px;
    border: 2px solid black;
    text-align: center;
}

.grid-item a {
    text-decoration: none;
    cursor: pointer;
    /* color: white; */
}


.search {
    position: absolute;
    top: 88px;
    margin-top: 23px;
    /* font-size: 23px; */
    right: 40px;
    font-size: 22px;
}

.searchbutton {
    background: rgb(168, 101, 149);
    color: white;
    cursor: pointer;
   
}

.inputbutton {
    
    border: 2px solid black;
}

/* .grid-item:hover{
    box-shadow: 3px 6px 10px black;
        background-color: #ce12ce;
        transition: 0.9ms;
     
} */
