body {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.header1 {
    text-align: center;
    font-size: 28px;


}

.mainbuttons {
    font-size: 19px;
    margin-left: 9%;
    margin-right: 4%;
    background-color: green;
    color: white;
    font-weight: 700;
}

.mainsection li:hover {

    color: black;
    font-weight: 600;
    box-shadow: 3px 2px 8px rgb(26, 24, 24);
}

.images img {

    width: 100px;
    height: 100px;
    margin-top: 9px;
    margin-left: 33px;
}

.decription {
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: 1;
}

.maintext {
    color: darkseagreen;
}

.defaultname {

    font-size: 19px;
    font-weight: 400;
    letter-spacing: 1cap;
    margin-left: 4%;
    margin-top: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.inputtag {
    width: 75%;
    font-weight: 600;
    height: 35px;
    font-size: 19px;
    margin-top: -1%;

    margin-left: 4%;

}

button {
    padding: 0.75em;
    border: none;
    outline: none;
    background-color: rgb(25, 135, 203);
    color: white;
    border-radius: 0.25em;
}

/* hover functionality for button */
button:hover {
    cursor: pointer;
    background-color: rgb(161, 16, 84);
}